<section class="bio">
        <h2>Биография</h2>
        <h2>Личностное становление</h2>
        <p>Я, Дручевский Денис родился в 18 октября 1999 года в городе Донецк. Родители: Дручевская Альбина Зуфаровна и Дручевский Виталий Викторович. </p> 
        <p>
                <span>
                        1 сентября 2007 года пошел в донецкую общеобразовательную школу №102, учеба давалась легко и без лишних трудностей.
                </span>
                <span>
                        Любил рисовать и музыку. Где-то тогда я и начал увлекаться плаванием и участвовать в мелких соревнованиях. Также я увлекался футболом и ходил на треннировки.
                </span>
        </p>
        <h2>Профессиональное становление</h2>
        <p>В последнем классе решил связать свою жизнь с программированием, потому что считал, что профессия имеет большой потенциал в современном мире, из-за чего сдавал экзамен математике, весьма успешно.</p>
        <p>Выбор вуза пал на ДонНТУ из-за того, что я проходил дополнительные курсы по математике в нем. Специальность программная инженерия была взята из-за обучения в ней языков программирования, которые на момент поступления в не знал.</p>
        <p>В перод обучения на первом курсе мне пришлось сталкиваться со множеством трудностей в освоение неизвестных мне технологий, но благодаря упорству и хитрости удавалось сдавать сессии.</p>
        <p>В 2021 году после окончания бакалавриата решил поступить в магистратуру т.к. мне были интересны технологии по обучение нейронных сетей.</p> 
        <h2>Цели, планы и видение будущего</h2>
        <p>Главный план на будущее - окончание университета и трудоустройство в России на специальность фронтенд разработчика.</p>
</section>