<div id="topblock">
        <div id="langbox">
            <a href="indexu.htm"><img src="img/ua.png" alt="Українська" title="Українська" width="24" height="20"></a> &nbsp;
            <a href="indexe.htm"><img src="img/en.png" alt="English" title="English" width="24" height="20"></a> 
        </div>
        <div id="donntu" class="donntu">
            <a href="http://donntu.org" target="_blank">ДонНТУ</a>
            <a href="http://masters.donntu.org" target="_blank" title="Перейти на портал магистров ДонНТУ">Портал магистров</a>
        </div>
    </div>
    <div id="header" class="header">
        <div id="photomag">
            <a href="img/ivanenko_big.jpg">
                <img src="img/avatar.png" width="220" title="Магистр ДонНТУ Дручевский Денис Витальевич" alt="Магистр ДонНТУ Иваненко Иван Иванович" />
            </a>
        </div>
        <div id="headertext">
            <h1 class="hdr">Дручевский Денис Витальевич</h1>
            <h3 class="hdr">Факультет компьютерных наук и технологий</h3>
            <h3 class="hdr">Кафедра программной инженерии им. Л.П.Фельдмана</h3>
            <h3 class="hdr">Специальность "Программная инженерия"</h3>
            <h2 class="hdr">Оптимизация аппаратурных затрат в логических схемах устройств управления</h2>
            <h3 class="hdr">Научный руководитель: д.т.н., проф. Петренко Петр Петрович</h3>
        </div>
    </div>
    <div class = "menu">
        <div class = "menu__tab">
            <button class = "tablinks menu__page menu__page1" onclick="openMenu(event, '1')"><h1>Резюме</h1></button>
            <button class = "tablinks menu__page menu__page2" onclick="openMenu(event, '2')"><h1>Биография</h1></button>
            <button class = "tablinks menu__page menu__page3" onclick="openMenu(event, '3')"><h1>Реферат</h1></button>
            <button class = "tablinks menu__page menu__page4" onclick="openMenu(event, '4')"><h1>Библиотека</h1></button>
            <button class = "tablinks menu__page menu__page5" onclick="openMenu(event, '5')"><h1>Ссылки</h1></button>
            <button class = "tablinks menu__page menu__page6" onclick="openMenu(event, '6')"><h1>Отчет о поиске</h1></button>
            <button class = "tablinks menu__page menu__page7" onclick="openMenu(event, '7')"><h1>Индивидуальный раздел</h1></button>
        </div>
    </div>
    <div class = "menu">
        <div class="menu__tab">
            <a class="tablinks menu__page colorfix">Резюме</a>
            <a class="tablinks menu__page" href="bio/index.html">Биография</a>
            <a class="tablinks menu__page" href="diss/index.html">Реферат</a>
            <a class="tablinks menu__page" href="library/index.html">Библиотека</a>
            <a class="tablinks menu__page" href="links/index.html">Ссылки</a>
            <a class="tablinks menu__page" href="links/zvit.html">Отчет о поиске</a> 
            <a class="tablinks menu__page" href="ind/index.html">Индивидуальный раздел</a>
        </div>
    </div>
</div>