<h1 class="rezume-title">Краткое резюме магистра</h1>
<br />
<table id="resume" class="rezume-table">
  <tr class="odd">
    <td class="c1">ФИО</td>
    <td class="c2">Иваненко Иван Иванович</td>
  </tr>

  <tr class="even">
    <td class="c1">Дата рождения</td>
    <td class="c2">18.10.1999г.</td>
  </tr>

  <tr class="odd">
    <td class="c1">Место рождения</td>
    <td class="c2">г.Донецк</td>
  </tr>

  <tr class="even">
    <td class="c1">Школы</td>
    <td class="c2">
      <p>2006-2014 гг. — МБОУ Школа №102 г.Донецк</p>
      <p>2014-2016 гг. — Средня Школа №40 г. Днепродзержинск</p>
      <p>2016-2017 гг. — МБОУ Школа №102 г.Донецк</p>
    </td>
  </tr>

  <tr class="odd">
    <td class="c1">ВУЗ</td>
    <td class="c2">
      <p>
        2017-2021г. — Донецкий национальный технический университет, факультет
        компьютерных наук и технологий, специальность "Программная инженерия",
        бакалавриат
      </p>
      <p>
        2021-2023г. — Донецкий национальный технический университет, факультет
        компьютерных наук и технологий, специальность "Методы и средства
        разработки программного обеспечения", магистратура
      </p>
    </td>
  </tr>

  <tr class="even">
    <td class="c1">Средний балл</td>
    <td class="c2">Средний балл за время обучения в бакалаврате 84.6</td>
  </tr>

  <tr class="odd">
    <td class="c1">Владение языками</td>
    <td class="c2">
      <p>Русский язык — в совершенстве</p>
      <p>Украинский язык — в совершенстве</p>
      <p>Английский язык — средний уровень</p>
    </td>
  </tr>

  <tr class="even">
    <td class="c1">Увлечения</td>
    <td class="c2">
      Компьютерные игры, книги, фильмы, сериалы, культура других стран
    </td>
  </tr>

  <tr class="odd">
    <td class="c1">Личные качества</td>
    <td class="c2">
      Краткий перечень положительных качеств, присущих магистру по его же мнению
    </td>
  </tr>

  <tr class="even">
    <td class="c1">Профессиональная специализация и владение компьютером</td>
    <td class="c2">
      <h4>Операционные системы:</h4>
      <ul>
        <li>Семейство Windows</li>
        <li>Linux Ubuntu</li>
        <li>Android</li>
      </ul>
      <h4>Языки программирования:</h4>
      <ul>
        <li>SQL</li>
        <li>C/C++</li>
        <li>JS</li>
        <li>C#</li>
        <li>TypeScript</li>
        <li>PHP</li>
      </ul>
      <h4>Среды разработки:</h4>
      <ul>
        <li>VS Code</li>
        <li>Android Stuiod</li>
        <li>Microsoft VS</li>
      </ul>
      <h4>Фреймворки, библиотеки и технологии:</h4>
      <ul>
        <li>Node</li>
        <li>Таск менеджеры:Grunt и Gulp</li>
        <li>Vue, React</li>
        <li>Axios, Router, Vuex</li>
        <li>Препроцессоры: SCSS, LESS</li>
        <li>JQuery</li>
        <li>Bootstrap, Tailwind</li>
      </ul>
      <tr class="odd">
        <td class="c1">Планы на будущее</td>
        <td class="c2">
          После окончания обучения продолжать профессиональное развитие и
          трудоустроиться по специальности
        </td>
      </tr>

      <tr class="even">
        <td class="c1">Контактная информация</td>
        <td class="c2">
          <p>Электронный адрес: eldercs312@yandex.com</p>
          <p>
            Социальная сеть:
            <a href="https://vk.com/id123605585">Вконтакте</a>
          </p>
        </td>
      </tr>
    </td>
  </tr>
</table>
